<div class="container p-5">

  <div class="text-center mb-5" >
    <h3 class="text-secondary"> <strong> Mis compras </strong> </h3>
  </div>

  <%= render 'shared/flashes' %>

  <div class="container-cards">
    <% @orders.each do |order| %>
    <div class="card-products">
      <%= cl_image_tag order.product.photo.key, alt: "foto de producto", class: "img-order" %>
      <div class="card-product-infos w-100">
        <h2 class="m-0"> <strong> Producto : <%= order.product.name.capitalize %> </strong> </h2>
        <p class="m-0"> <small> Fecha de compra: <%= order.created_at.localtime.strftime("%d/%m/%Y %I:%M %p") %> </small> </p>
        <p class="mt-2">Direccion de envio: <%= order.address %></p>
        <p class="mb-2"> Metodo de pago: <%= order.pay_method %>  </p>
        <div class="container-selling">
          <div>
            <p class="selling-item"> <small> Vendido por: <%= order.user.nickname %> </small> </p>
          </div>
          <div>
            <% if order.reviewed %>
              <p id="review-item" class="font-weight-bold selling-item2">Review completo</p>
            <% else %>
              <p id="review-item2" class="badge badge-info selling-item2"><%= link_to "Dejar Review", new_order_review_path(order), class: "text-body" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div  class="text-right mt-5"><%= link_to "Cambios y Devoluciones", refund_path, id:"change" %></div>
</div>
