
<div class="container py-5">

  <h2> <strong class="text-secondary"> Productos </strong> </h2>
  <div class='container d-flex flex-wrap p-0'>
    <% @products.each do |product| %>
      <div class='card p-4 mr-4 mb-4 col-3' >
        <h5> <strong> <%= product.name %> </strong> </h5>
        <h6> <%= product.description %>  </h6>
        <h6>Price: <%= product.price %>  </h6>
        <div class="container d-flex justify-content-between p-0 align-items-center">
          <h6>Stock: <%= product.stock %>  </h6>
          <h6><%= link_to 'Show', product_path(product) %></h6>
        </div>
      </div>
    <% end %>
  </div>

  <div >
    <%#= link_to "log out",  destroy_user_session_path, method: 'delete' %>
  </div>

</div>