<h2>Productos</h2>
<div class='container d-flex flex-wrap'>
 <% @products.each do |product| %>
 <div class='card p-2 m-4 col-3' >
   <h5><%= product.name %>  </h5>
   <h6><%= product.description %>  </h6>
   <h6><%= product.price %>  </h6>
   <h6><%= product.user_id %>  </h6>
   <h6><%= link_to 'Show', product %></h6>
   </div>
 <% end %>

</div>

<div >
  <%= link_to "log out",  destroy_user_session_path, method: 'delete' %>  
</div>

