<div class="container py-5">

<h2><strong class="text-secondary"> Productos </strong></h2>
  <%# <div class="col-12 col-sm-8 col-md-6 col-lg-4"> %>
    <% @products.each_slice(3) do |groups_products| %>
      <div class="card-group">
        <% groups_products.each do |product| %>
          <div class="card shadow m-3">
            <div class="content">
              <%= image_tag (cl_image_path product.photo.key), class: "card-img" %>
              <div class="card-img-overlay d-flex justify-content-end">
                <a href="#" class="card-link btn-like">
                  <i class="far fa-heart text-primary"></i>
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title"><%= product.name.capitalize %></h4>
                <p class="card-text text-muted"><%= product.description.capitalize %></p>
                <div class="buy d-flex justify-content-between align-items-center">
                  <h5 class="stock text-muted">Stock: <%= product.stock %></h5>
                  <h5 class="text-success font-weight-bold">$<%= product.price%></h5>
                </div>
              </div>
            </div>
            <div class="buy d-flex align-items-center mt-2 pl-3 pr-3 pb-3 reviews">
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star-half-alt text-warning"></i>
              <small class="ml-2 text-muted">(<%= product.reviews.count %>)</small>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <%# </div> %>
</div>
