<div class="container mt-5">
  <div class="card-trip" >
    <%= cl_image_tag @product.photo.key, alt: "", class: "card-img-top" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @product.name %></h2>
        <p><%= @product.description %></p>
        <p><%= @product.category %></p>
        <p><%= @product.stock %></p>
      </div>
      <h2 class="card-trip-pricing"><%= @product.price %></h2>
    </div>
  </div>

  <div class="text-center mt-5">
    <% if @product.stock > 0 %>
    <%= link_to "Comprar", new_product_order_path(@product), class:"btn btn-flat" %>
    <% else %>
    <%= link_to "Fuera de stock", "#", class:"btn btn-flat disabled" %>
    <% end %>
  </div>
<div>

<div class="container py-5 px-0">
  <h3>Reviews</h3>
  <% if @product.reviews.present? %>
    <% @product.reviews.each do |review| %>
      <div class="card p-3">
        <div class="card-title"><%= review.content %></div>
        <div class="car-body">Rating: <%= review.rating %></div>
      </div>
    <% end %>
  <% else %>
    <p>No hay reviews disponibles</p>
  <% end %>
