<%= link_to "Back to category", products_path %>

<ul>
  <li><%= @product.name %></li>
  <li><%= @product.description %></li>
  <li><%= @product.category %></li>
  <li><%= @product.price %></li>
  <li><%= @product.stock %></li>
</ul>
